.home {
  background-color: black;

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;

  background-image: url(../../cover.jpeg);
}
/* .wrapper {
  background-color: black;
  color: aliceblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;

  background-image: url(../../cover.jpeg);
} */

.home:before {
  content: "";
  background-color: #000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.home img {
  display: block;
}
.logo {
  height: 30px;
  padding: 30px 45px;
  cursor: pointer;
}
.signIn {
  background-color: #e63631;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
  margin-left: 20px;
}

.english {
  background-color: transparent;
  color: white;
  padding: 10px 12px;
  border: 0.5px solid grey;
  border-radius: 2px;
  cursor: pointer;
}
.left {
  z-index: 2;
  position: absolute;
  top: 8px;
  left: 16px;
}

.right {
  z-index: 2;
  position: absolute;
  height: 40px;
  padding: 30px 40px;
  top: 8px;
  right: 16px;
}

.body {
  position: absolute;

  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 55px;
  font-style: normal;
}
.h3 {
  font-size: 30px;
  font-weight: 100;
  padding-top: 15px;
  font-style: normal;
  padding-bottom: 30px;
}
.p {
  font-size: 18px;
  font-weight: 100;
  font-style: normal;
  padding-bottom: 20px;
}

.input {
  padding: 15px 10px;
  color: black;
  width: 70%;
  /* font-size: 16px; */
  border: none;
  border-radius: 2px;
}
.input:focus {
  outline: 0.5px blue solid;
  border-radius: 2px 0px 0px 2;
}
.getStarted {
  width: 25%;
  padding: 12px 10px;
  background-color: #ed3833;
  border: none;
  color: white;
  padding: 15px 10px;
  /* font-size: 14px; */
  border-radius: 0px 2px 2px 0;
}
